.app {
    background: url('./assets/unitygrid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
}